{% extends 'base.html' %}
{% block noauth %}
<div class="row" style="height: 100%;">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="container" style="width: 500px; margin-top: 17%;">
            <h3 class="mb-5" style="color: white;">나의 프로필 정보</h3>
            <form class="form-floating" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <p class="mb-4" style="color: rgb(255, 255, 255); font-size: 18px;">프로필 사진</p>
                </div>
                <div class="mb-3" style="display: flex!important;">
                    <div class="box" style="width: 80px; height: 80px; margin-right: 16px;">
                        <img class="profile" src="{{ user.getpic }}">
                    </div>
                    <li style="align-self: center!important;">
                        <div class="input-group" style="flex:1; margin-top: -3.5%; width: 70%;">
                            <input type="file" name="pic" class="form-control text-14" id="inputGroupFile02">
                        </div>
                        <div class="mt-1">
                            <span class="text-14" style="color: rgb(139, 139, 139);">이미지 삭제 기능은 없습니다.</span>
                        </div>
                    </li>
                </div>
                <hr style="color: rgb(139, 139, 139);">
                <div class="mb-4 mt-4">
                    <label for="exampleFormControlInput1" class="form-label mb-3" style="color: rgb(255, 255, 255); font-size: 18px;">사용자 이름</label>
                    <input type="text" name="nickname" class="form-control text-14" style="height: 40px;" id="exampleFormControlInput1" value="{{ user.nickname }}">
                </div>
                <hr style="color: rgb(139, 139, 139);">
                <div class="mb-4 mt-4">
                    <label for="exampleFormControlInput1" class="form-label mb-3" style="color: rgb(255, 255, 255); font-size: 18px;">한 줄 소개</label>
                    <input type="text" name="comment" class="form-control text-14" style="height: 40px;" id="exampleFormControlInput1" value="{{ user.comment }}">
                </div>
                <hr style="color: rgb(139, 139, 139);">
                <div class="mb-4 mt-4 row">
                    <label for="exampleFormControlInput1" class="form-label mb-3" style="color: rgb(255, 255, 255); font-size: 18px;">선호하는 앨범 리스트</label>
                    {% if album %}
                        {% for i in album %}
                        <div class="col-lg-3">

                        </div>
                        {% endfor %}
                    {% else %}
                    <div class="mt-5" style="text-align: center;">
                        <p class="text-14" style="color: rgb(139, 139, 139);">선호하는 앨범이 없습니다.<br>'앨범'에서 선호하는 앨범을 추가하세요!</p>
                    </div>
                    {% endif %}
                </div>
                <button class="btn btn-login mt-5" style="margin-bottom: 15%;"><b>변경 내용 저장</b></button>
            </form>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<style>
    .btn-login {
        background-color: #79e5cb;
        width: 100%;
        height: 58px;
    }
    .cover {
        object-fit: cover;
        background-position: center;
        width: 100%;
        height: 100%;
    }
    .jb-text { 
            position: absolute; 
            top: 50%; width: 100%;
    }
</style>
{% endblock %}