{% extends 'base.html' %}
{% block noauth %}
<div style="position: relative;">
    <div class="artist_box">
        <img src="/MEDIA/album_main_Atlantis.jpg" style="width: 100%;">
        <div class="kb-text">
            <p>앨범들을 감상하고 좋아요를 눌러</p>
            <p>나만의 리스트에 추가하세요!</p>
        </div>
    </div>
</div>
<div style="width: 100%; height: 700px; background-color: white;">
    <div style="width: 100%; text-align: center; margin-bottom: 2%;">
        <p class="mb-5" style="color: rgb(106, 211, 185); font-size: 38px;"><b>SHINEE</b></p>
        <p style="color: rgb(175, 175, 175); font-size: 16px; margin-top: -50px;">샤이니</p>
    </div>
<div class="container" style="margin-bottom: 10%; margin-top: 10%;">
    <div class="row">
        {% for i in al %}
        {% if artist_no == 1 %}
        <div class="col-lg-4">
            <img src="{ i.album_img }" style="width: 100%;">
            <p class="album-name"><b style="color: rgb(27, 27, 27);">{ i.album_name }</b><br>{ i.album_subname }</p>
            <p class="album-date">{ i.release_date }</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
<style>
    .album-name {
        margin-top: 7%;
        text-align: center;
        color: rgb(139, 139, 139);
        font-size: 14px;
    }
    .album-date {
        margin-top: -10px;
        text-align: center;
        color: rgb(139, 139, 139);
        font-size: 10px;
    }
    .artist-box { 
            width: 100%; 
            height: auto; 
            overflow: hidden;
            margin: 0px auto; 
            position: relative; 
            z-index: 1;
    }
</style>
{% endblock %}