{% extends 'base.html' %}
{% block noauth %}
<div style="position: relative;">
    <div class="artist_box">
        <img src="/MEDIA/artist_key_main.jpg" style="width: 100%;">
        <div class="jb-text">
            <p></p>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 5%;">
    <div class="col-lg-2"></div>
    <div class="col-lg-4">
        <div class="artist_box" style="margin-top: 16%; margin-right: 10%;">
            <img src="/MEDIA/artist_key_2.png" style="width: 95%; margin-top: 8%;">
        </div>
    </div>
    <div class="col-lg-4">
        <div style="width: 100%; margin-top: 16%;">
            <span class="mb-5" style="color: white; font-size: 80px;">KEY</span>
            <span class="mb-5 text-14" style="color: rgb(139, 139, 139);">키</span>
        </div>
        <div class="mt-3">
            <span style="color: white; font-size: 22px; margin-right: 5%;">본명</span>
            <span class="text-14" style="color: white;">김기범</span>
            <hr style="color: rgb(139, 139, 139);">
            <span style="color: white; font-size: 22px; margin-right: 5%;">출생</span>
            <span class="text-14" style="color: white;">1991. 9. 23, 처녀자리, 양띠</span>
            <hr style="color: rgb(139, 139, 139);">
            <span style="color: white; font-size: 22px; margin-right: 5%;">나이</span>
            <span class="text-14" style="color: white;">31세, 만 30세</span>
            <hr style="color: rgb(139, 139, 139);">
            <span style="color: white; font-size: 22px;">솔로 앨범</span>
            <span class="mb-5 text-14" style="color: rgb(139, 139, 139); margin-left: 1%;">Top 3</span>
        </div>
        <div class="row" style="margin-top: 8%;">
            <div class="col-lg-4">
                <img src="/MEDIA/key_badlove_album_s.png" style="width: 100%;">
                <p class="album-name"><b style="color: white;">BAD LOVE</b><br>The 1st Mini Album</p>
                <p class="album-date">2021.09.27</p>
            </div>
            <div class="col-lg-4">
                <img src="/MEDIA/key_iwannabe_album_s.png" style="width: 100%;">
                <p class="album-name"><b style="color: white;">I WANNA BE</b><br>The 1st Album Repackage</p>
                <p class="album-date">2019.03.04</p>
            </div>
            <div class="col-lg-4">
                <img src="/MEDIA/key_face_album_s.png" style="width: 100%;">
                <p class="album-name"><b style="color: white;">FACE</b><br>The 1st Album</p>
                <p class="album-date">2018.11.26</p>
            </div>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>
<style>
    .album-name {
        margin-top: 7%;
        text-align: center;
        color: rgb(139, 139, 139);
        font-size: 14px;
    }
    .album-date {
        margin-top: -10px;
        text-align: center;
        color: rgb(139, 139, 139);
        font-size: 10px;
    }
    .artist-box { 
            width: 100%; 
            height: auto; 
            overflow: hidden;
            margin: 0px auto; 
            position: relative; 
            z-index: 1;
    }
</style>
{% endblock %}